.app_container {
  padding-top: 50px;
}

body{
background-color: rgb(26, 25, 25);
}
.app_row {
  height: 90vh;
}
a {
  text-decoration: none;
  color: brown;
} 

a:hover {
  text-decoration: none;
  color: red
}

/* scrollbar  */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(79, 67, 67);
  border-radius: 10px;
  height: 40px;
}
/* sidebar */

.sidebar {
  background:rgb(34, 34, 35);
  height: 100%;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px rgb(60, 58, 58);
  text-align: center;
}

.sidebar_avatar {
  height: 130px;
  width: 17 0px;
  object-fit: contain;
  border-radius: 20px;
}

.sidebar_icon {
  width: 25px;
  height: 25px;
  color: #efeeee;
  font-size: 25px;
}
.sidebar_icon:hover {
  transform: scale(1.2);
}

.sidebar_myName {
  margin: 20px 0px;
  font-size: 1.5rem;
  color:rgba(211, 211, 211, 0.763);
}
.sidebar_name {
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0px;
  font-size: 1rem;
}

.sidebar_name > span {
  color: #f1f1f1;;
}
.sidebar_item {
  margin-top: 25px;
  padding-top: 6px;
  height: 40px;
  font-size: 1.05rem;
  border-radius: 30px;
  background-color: #f1f1f1;
}

.sidebar_title {
  background-color: #d8d6d6f3;
  border-radius: 30px;
  margin: 25px;
  padding: 8px;
}
.sidebar_contact{
  display: flex;
  justify-content: center;
}
.sidebar_email {
  background-color: rgb(200, 213, 213);
  border-radius: 5px;
  color: #f1f1f1;
  margin: 15px 25px 0px;
  cursor: pointer;
  transition: all 3s linear;
}

.display_Email {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 0px;
  margin-top: 15px;
}
.sidebar_box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.horizontal-line {
  height: 2px;
  background-color: grey;
  margin: 10px 0;
}
.sidebar_label {
  font-weight: 500;
  color:rgba(211, 211, 211, 0.763);
}
.sidebar_mainlabel {
   color: rgb(117, 115, 115);
   font-weight: 500;
}

.sidebar_emailicon:hover {
  transform: scale(1.2);
}
.sidebar_email:hover {
  transform: scale(1.1);
}

.sidebar_github:hover,
.sidebar_resume:hover {
  background-color: rgba(106, 101, 101, 0.925);
  color: black;
}

/* main  */

.app_main-content {
  background:rgb(34, 34, 35);
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 25px 15px;
}

.navbar_items {
  display: flex;
}
.navbar_active {
  font-size: 2rem;
  font-weight: 700;
  color: #f1f1f1;
  border-bottom: 4px solid Red;
}

.navbar_item {
  margin-right: 20px;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.3rem;
  cursor: pointer;
}
.navbar_item:hover {
  background-color: rgb(13, 117, 208);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* skillcard  */

.about_info {
  padding-left: 20px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
}
.about_para_lines {
  padding-top: 7px;
  color:rgba(211, 211, 211, 0.763);
}
.about_para_first_line {
  padding-top: 20px;
  color:rgba(211, 211, 211, 0.763);
}
.skill-card {
  background-color: #c2bcbc;;
  margin: 22px;
  padding: 35px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}
.skill_card_icon {
  width: 40px;
  height: 40px;
}
.skill-card-body {
  margin-left: 15px;
}
.skill_card_content {
  margin: 0px;
  font-size: 0.9rem;
  color: #354358;
}

/*  Rsesume timeline and Skill icons  */

.resume-card_title {
  font-weight: 700;
}

.education_heading {
  margin-left: 25px;
}

.skills-heading {
  margin-left: 25px;
  margin-top: 15px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 1%;
  bottom: 8px;
  right: 90%;
  margin-left: -3px;
}

.resume_container {
  padding: 0px 38px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.resume_container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -16px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 2px;
  border-radius: 50%;
  z-index: 1;
}

.right {
  left: 10%;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 1px;
  width: 0;
  z-index: 1;
  left: 20px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* skill icon  */

.icon-box {
  background: darkgrey;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-shadow: grey;
  z-index: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 5px; */
}
.skills-list {
  padding: 20px;
}
.content-card {
  background-color: lightgray;
  border-radius: 15px;
  /* cursor: pointer; */
  z-index: 1;
}
.icons {
  cursor: pointer;
}

/* projects */

.projects {
  height: 70vh;
  padding-top: 30px;
  overflow-y: auto;

}

.projectCard_wrapper {
  margin: 10px 0;
  width: 100%;
  height: 100%;
  min-height: 160px;
  padding-bottom: 70px;
}

.projectCard_image {
  width: 100%;
  height: 80%;
  border-radius: 15px;
  border: 1px solid rgb(35, 33, 33);
  box-shadow: 0px 4px 4px 4px grey;
  transition: transform 0.3s linear;
}
.projectCard_image:hover {
  transform: scale(1.05);
}
.projectCard_btn {
  border-radius: 7px;
  cursor: pointer;
}
.projectCard_btn:hover {
  background-color: rgb(216, 212, 212);
  /* transform: scale(1.2); */
}

.projectCard__title {
  font-size: 1rem;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.language_used {
  margin-top: -5px;
  margin-bottom: 5px;
  color: rgb(108, 106, 106);
  font-weight: 500;
}

/* project Navbar  */

.projects_navbar {
  display: flex;
  margin-bottom: 10px;
}
.projects_navbar > div {
  margin: 0px 5px;
  font-size: 1rem;
  cursor: pointer;
  color: #354358;
  font-weight: 500;
}

.project_inside_navBar {
  color:rgba(211, 211, 211, 0.763);
  font-weight: 700;
  cursor: pointer;
  padding-right: 10px;
}

/* blog  */
  .blogs{
    height: 70vh;
    padding-top: 30px;
    overflow-y: auto;
    min-height: 160px;
    padding-bottom: 70px;
  }
  .blogcard_wrapper {
    margin: 10px 0;
    width: 100%;
    height: 100%;
    min-height: 160px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 13px;
}

.blog-text{
  color:rgba(211, 211, 211, 0.763);
  font-size:20px;
  font-weight:300;
  line-height: 1.6;
}

.blog_meta{
  display: flex;
}
  .blog_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s linear;
    border-radius: 10px;
  }

  .blog_banner:hover img {
  transform: scale(1.05);
}

.blogCard_item {
  background-color: #989898;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
    height: 100%;
    margin-left: 16px;
}

.link_linkedin{
  color:rgba(211, 211, 211, 0.763);
  text-decoration: none;
  cursor: pointer;
  }

/* media queries  */

@media (max-width: 991px) {
  .app_main-content {
    margin: 30px 0;
  }
}

@media (max-width: 600px) {
  .app_main-content {
    margin-right: 10px;
    margin-left: 10px;
  }
  .navbar_active {
    font-size: 1.5rem;
  }
  .navbar_item {
    font-size: 1rem;
  }
}

@media (min-width: 580px) {
  .content-card {
    padding: 7px;
    padding-top: 25px;
  }
}

@media (min-width: 580px){
.skill-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
}
}

